.navbar{
    background-color: white;
    position: fixed;
    top: var(--discountLayerHeight);
    left: 0;
    right: 0;
    height: var(--navbarHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;

}
/*   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;   */

.iconSection{
    display: flex;
    justify-content: flex-end;
}

.icon{
    height: 28px;
    width: 28px;
    color: black;
}

.name{
    display: flex;
    height: 100%;
    align-items: center;
    color: black;
    font-size: 2em;
    font-family: 'LuxiaDisplay';
}
