.layout{
    position: fixed;
    top: calc(var(--navbarHeight) + var(--discountLayerHeight));
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    transition: all ease-in-out .1s;
}

.layout.active{
    opacity: 1;
    pointer-events: all;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 2.5em 1.5em;
    gap: 1.5em;
}
.link:visited{
    color: var(--black);
}

.link{
    color: var(--black);
    text-transform: capitalize;
    font-weight: bold;
    font-family: 'LuxiaDisplay', serif;
    font-size: 1.35em;
    display: flex;
    gap: .5em;
    transition: all .08s ease-in-out;
}
.link:hover{
    gap: .8em;
}

.arrow{
    height: 25px;
    width: 25px;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: var(--navbarHeight);
}

.footerLink{
    display: flex;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    height: var(--navbarHeight);
    text-decoration: none;
    color: black;
}

.account, .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4em;
    text-transform: capitalize;
    font-weight: bold;
    border-top: solid 1px lightgray;
    font-size: .9em;
}

.account{
    border-right: solid 1px lightgray;

}
.contact{

}